<p>Welcome to this APP</p>
<p>Use List to append to the list, and API to use the api to see a user</p>
<div class="nav">
    <p><a routerLink="list">List</a> - <a routerLink="api">API</a></p>
</div>

<nav class="navbar navbar-expand-md ">
    <div class="container justify-content-center"> 
      <div class="collapse navbar-collapse text-center justify-content-center" id="navbar9">
        <ul class="navbar-nav">
          <li class="nav-item mx-2"> <a class="nav-link" href="#">Products</a> </li>
          <li class="nav-item mx-2"> <a class="nav-link" href="#">FAQ</a> </li>
          <li class="nav-item mx-2"> <a class="nav-link" href="#">About us</a> </li>
          <li class="nav-item mx-2"> <a class="nav-link" href="#">Contacts </a> </li>
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
